{% extends 'base.html' %}
{% block content %}

<h1>Hello World!!!</h1>
<ul>
<li><a href="{{url_for('stocks')}}">Stocks</a></li>
<li><a href="{{url_for('debug_data')}}">JSON Data</a></li>
</ul>

<form action="{{url_for("hello_world")}}" method="post">
<input type="number" id="user_budget" name="user_budget">
<button type="submit">Submit</button>
</form>


{% for risk_level, stocks in recommendations.items() %}
<h2>{{ risk_level }}</h2>
<ul>
{% for stock in stocks %}
    <li>
        Symbol: {{ stock.symbol }} | 
        Score: {{ stock.score }} | 
        Volatility: {{ stock.volatility }}
    </li>
{% endfor %}
</ul>
{% endfor %}

{% endblock %}